{% extends "base.html" %}

{% block titulo %}Login y Register{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Register</h3>
            <hr>

            <form action="" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ formRegister.non_field_errors }}

                {% for field in formRegister %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="btn btn-primary offset-md-3" type="submit">Enviar</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Login</h3>
            <hr>

            <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ formLogin.non_field_errors }}

                {% for field in formLogin %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="btn btn-primary offset-md-3" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
