{% extends "base.html" %}

{% block titulo %}Login y Register{% endblock %}

{% block contenido %}
<style>
    body {
        background-color: #B0D9B1;
    }
</style>
<h1> REGISTRESE AQUI </h1>
<form action='.' method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }} {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.password1.label_tag }} {{ form.password1 }}
    </div>
    <div class="mb-3">
        {{ form.password2.label_tag }} {{ form.password2 }}
    </div>

    <!-- Tus campos personalizados -->
    <div class="mb-3">
        {{ form.peso.label_tag }} {{ form.peso }}
    </div>
    <div class="mb-3">
        {{ form.foto_perfil.label_tag }} {{ form.foto_perfil }}
    </div>

    <button class="btn btn-primary" type='submit'>Registrar</button>
</form>
{% endblock %}
